

		<div class="footer">
			<a style="color:black">&copy; 2017 <b>AISA, Ahmedabad<b></a>
			<b><a href="http://vatsalshah.in/" target="_blank" style="float:right;padding-right:50px">Create By: VATSAL SHAH</a></b>
		</div>

    </div> 
    <script src="/js/tsorter.min.js" type="text/javascript"></script>
</body>
</html>
