<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> 

	<title>Ahemdabad International Sports Academy</title>

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	<!-- CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
	<!-- Set Icon-->
	<link rel="icon" type="image/png" href="/images/aita.png" sizes="32x32">	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>	
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://files.codepedia.info/files/uploads/iScripts/html2canvas.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script type="text/javascript">	
		window.setTimeout(function() {
		    $(".alert").fadeTo(500, 0).slideUp(500, function(){
		        $(this).remove(); 
		    });
		}, 1500);

		//var path='http://54.71.88.177/';
		//var path='/';
		var path='http://34.210.2.217/';
	</script>

	<style>
		html {
		  height: 100%;
  			box-sizing: border-box;
		}

		body {
  			position: relative;
	  	}
		table {
	    	border-collapse: collapse;
	    	width: 100%;	    	
	    	white-space: nowrap;
	    	overflow: scroll;	    	
		}
		
		th {
			text-align: center;
	    	background-color: #81d4fa;
	    	color: black;
		}

		th, td {
			width: 25%;
			margin:0;		   
		    white-space: nowrap;
		    padding: 8px;
		    vertical-align:top;  
		}

		td.border_bottom  {
		  	border-bottom:1pt solid black;	  	
		}

		td.border_right  {
		  	border-right:1pt solid black;	  	
		}

		/* Background Color for Result List */
		.round1st{
	  		background-color:#FF0000;
		}

		.round2nd{
			background-color:#FF7F00;
		}

		.round3rd{
			background-color:#b7338e;
		}
		.pre_quater{
		  background-color:#9400D3;
		}
		.quarter{
	  		background-color:#0000FF;
		}
		.semi_final{
		  background-color:#3c763d;
		}
		.runner_up{
	  		background-color:#00FF00;
		}
		.winner{
		  background-color:#FFFF00;
		}

		/*------------------------TABLE-------------------------*/
		table.sortable{	
			font-family:Arial, Helvetica, sans-serif;
			border-collapse:collapse;
		}
		
		.sortable th{	
			cursor:pointer;
			text-align:left;
			white-space: nowrap;
			padding: 6px 15px 6px 6px;
		}
		
		.sortable td{	
			margin:0;
			padding: 1px 6px 2px 7px;
			white-space: nowrap;
			text-align:left;
			vertical-align:top;
		}

		.sortable th.descend:after{
			content: "\25B2";
		}
		
		.sortable th.ascend:after{
			content: "\25BC";
		}

		#search {
		  background-image: url('/images/searchicon.png');
		  background-position: 10px 10px;
		  background-repeat: no-repeat;
		  width: 100%;
		  font-size: 14px;
		  padding: 12px 14px 12px 40px;
		  border: 1px solid #ddd;
		  margin-bottom: 5px;
		}

		/*Hover on table row*/
		.notfirst:hover {
	    	background-color: #81d4fa;
		}

		.footer {
		  position: absolute;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  padding: 1rem;
		  background-color: #efefef;
		  text-align: center;
		}

	</style>
		
</head>
<body>
	<div class="container">	
